/* div {color: #245a90;
	font-family: 'Noto Sans', sans-serif;
	border: 1px outset rgb(237, 244, 243);
	background-color: rgb(187, 231, 245);
	text-align: center;} */

/* body {
		font-family: 'Luminari';
	} */