@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Montserrat+Alternates:wght@200&family=Rubik+Pixels&display=swap');


/* div {color: #245a90;
	font-family: 'Noto Sans', sans-serif;
	border: 1px outset rgb(237, 244, 243);
	background-color: rgb(187, 231, 245);
	text-align: center;} */

/* body {
		font-family: 'Luminari';
	} */

h1 {
	font-family: 'Bruno Ace SC', cursive;
}

.chartTitle {
	font-family: 'Montserrat Alternates', sans-serif;
}

h2 {
	font-family: 'Rubik Pixels', cursive;
}